<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Mikroprocesor </title>
</head>
<body>

<h2>Edit mikroprocesor</h2>

<form action="#" th:action="@{/mikroprocesor/edit}" th:object="${mikroprocesorToEdit}" method="post">
    <div><input type="hidden" th:field="*{id}"></div>
    <div><input type="text" th:field="*{manufacture}"></div>
    <div><input type="text" th:field="*{name}"></div>
    <div><input type="submit" value="Submit"></div>

</form>

<!--<div th:if="${errorMessage}">-->
<!--  <div th:text="${errorMessage}"></div>-->
<!--</div>-->

</body>
</html>